.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    text-align: center;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    font-family: 'Ropa Sans', sans-serif;
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    max-width: 100%;
    height: 65vh;
    display: inline-block;
}

.modal-footer {
    margin-top: 10px;
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal p {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
}

.modal img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.hidden {
    display: none;
}

#survey {
    text-align: center;
}

h1 {
    font-size: 105 px;
    color: rgba(92, 184, 92, 1); 
}
h4 {
    font-size: 105 px;
    color: rgba(92, 184, 92, 1); 
}
body {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/photos/md/2017-09-08/walking_summer_sun_friends.jpeg");
    background-size: auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #9ad74b;
    text-align: center;
    /* font-family: 'Ropa Sans', sans-serif; */
    background-size: 100%;
}

#addFriend {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 75vh;
    overflow: scroll;
    overflow-x: hidden;
    margin: auto;
    background-color: white;
}

.green {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
}

/* Custom */
.green {
    /* display: inline-block; */
    position: relative;
    padding: 20px 38px;
    top: 0;
    font-size: 30px;
    font-family: "Open Sans", Helvetica;
    border-radius: 4px;
    border-bottom: 1px solid rgba(28, 227, 125, 0.5);
    background: rgba(92, 184, 92, 1);
    color: #fff;
    box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.1);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.green:hover {
    top: -10px;
    box-shadow: 0px 10px 10px rgba(15, 165, 60, 0.2);
    -webkit-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    -ms-transform: rotateX(20deg);
    transform: rotateX(20deg);
}

.green:active {
    top: 0px;
    box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.0);
    background: rgba(92, 184, 92, 1);
}


#surveyBtn,
#api {
    text-decoration: none;
    display: inline-block;
}
.footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   /* background-color: red; */
   color: white;
   text-align: center;
}

.scroll1::-webkit-scrollbar {
    width: 5px;
}

.scroll1::-webkit-scrollbar-track {
    background: #ddd;
}

.scroll1::-webkit-scrollbar-thumb {
    background: #666;
}

#surveySubmit {
    margin: 20px;
}

@media only screen and (max-width: 425px) {
    #addFriend {
        max-width: 100%;
    }

    #surveyHead {
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) {
    #addFriend {
        max-width: 80%;
    }
}

@media only screen and (min-width: 1024px) {
    #addFriend {
        max-width: 60%;
    }
}

@media only screen and (min-width: 1440px) {
    #addFriend {
        max-width: 40%;
    }
}